<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Detail</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Board Detail</h1>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th scope="row">Title</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th scope="row">Writer</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th scope="row">Date</th>
            <td th:text="${board.boardCreatedTime}"></td>
        </tr>
        <tr>
            <th scope="row">Hits</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th scope="row">Contents</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th scope="row">Image</th>
            <td><img th:src="@{|/upload/${board.storedFileName}|}" alt="Uploaded Image"></td>
        </tr>
        <tr th:if="${board.youtubeAttached == 1}">
            <th>youtube</th>
            <td>
                <iframe
                        width="560" height="315"
                        th:src="${board.youtubeLink}"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between mb-4">
        <button class="btn btn-primary" onclick="listReq()">목록</button>
        <button class="btn btn-warning" onclick="updateReq()">수정</button>
        <button class="btn btn-danger" onclick="deleteReq()">삭제</button>
    </div>

    <!-- 댓글 작성 부분 -->
    <div id="comment-write" class="mb-5">
        <h2>댓글 작성</h2>
        <div class="input-group mb-3">
            <input type="text" id="commentWriter" class="form-control" placeholder="작성자">
            <input type="text" id="commentContents" class="form-control" placeholder="내용">
            <button class="btn btn-success" id="comment-write-btn" onclick="commentWrite()">댓글 작성</button>
        </div>
    </div>

    <!-- 댓글 출력 부분 -->
    <div id="comment-list">
        <h2>댓글 목록</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="${comment.commentCreatedTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const id = [[${board.id}]];
        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table class='table table-striped'>";
                output += "<thead><tr><th>댓글번호</th><th>작성자</th><th>내용</th><th>작성시간</th></tr></thead>";
                output += "<tbody>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].id + "</td>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td>" + res[i].commentCreatedTime + "</td>";
                    output += "</tr>";
                }
                output += "</tbody></table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });
    }
    const listReq = () => {
        console.log("목록 요청");
        const page = [[${page}]];
        location.href = "/board/paging?page=" + page;
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${board.id}]];
        location.href = "/board/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${board.id}]];
        location.href = "/board/delete/" + id;
    }
</script>
</body>
</html>
